//-------------------------------------------------------
// LINKS
//=======
//  - Basic Link Styles
//  	TODO: WHAT SHOULD RULES SHOULD THIS PARTIAL EMPLOY?
//				- NO TYPOGRAPHY
//				- NO LAYOUT OR ORGANIZATIONAL PATTERNS
//					- THIS INCLUDES MARGIN, BUT POSSIBLY COULD MAKE EXCEPTION
//						FOR PADDING FOR LINK HIT BOX EXPANSION.
//-------------------------------------------------------

/* Links */

// body links
body a {
	@include transition(all .1s ease-in-out);
	text-decoration: none;
}

.nav a {
	color: #fff;
	@include font-size(1.3);
}

// breadcrumb
.breadcrumbs %link {
	color: $type-light;
}

a:visited,
a {
	@include transition-property(all);
  	@include transition-duration(.2s);
	@extend %link;
}

a:focus {
    outline: thin dotted;
}

a:active,
a:hover {
    outline: 0;
}
